html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #110303;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #3E4545;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: #1C2B33;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 15px;
}

.contact {
  text-align: center;
}

/* .contactlinks {
  padding: 20px;
} */

.App {
  text-align: center;
}

/* a:-webkit-any-link {
    cursor: pointer;
} */

a {
  text-decoration: none;
}

a:hover {
  color: #2282BE;
  text-decoration: none;
  font-weight: none
}

.bodyContainer {
  background-color: #89BFCC;
  padding: 3vw;
  margin: 0.2vh;
  margin-bottom: 5vh;
  border-radius: 5px;
}

.contactContainer {
  background-color: #89BFCC;
  padding: 3vw;
  margin: 0.2vh;
  margin-bottom: 5vh;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.body {
  padding: 4vw;
  padding-top: 2vh;
}

.contactBar {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2vw;
  padding-top: 1vw;
  border-bottom: 1px solid #DEE2E2;
  background-color: white;
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.contact_bar_image {
  height: 4vh;
  border-radius: 3px;
  outline-style: hidden;
  cursor: pointer;
  /* margin: 0.8vw; */
}

.site_image {
  height: 6vh;
  border-radius: 3px;
  outline-style: hidden;
  align: left;
  margin-right: 1vw;
}

.contact_bar_image:hover {
  outline-style: solid;
  outline-color: #DEE2E2;
  outline-color: rgb(34,130,190);
}

.navBarRight {
  list-style: none;
  display: flex;
  margin-left: 60%;
}

/* Home */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: white;
  border: solid;
}

.footer {
  background: white;
  border: solid;
}

.main {
  text-align: center;
  background: white;
  border: solid;
}

.aside-1 {
  background: white;
  border: solid;
}

.project_images {
  display:flex;
  margin-left:auto;
  margin-right:auto;
}

.project_image {
  height: 15vh;
  border-radius: 3px;
  /* margin: 0.8vw; */
}

#img1 {
  margin-right: 10%;
}

#img2 {
  margin-right: 10%;
}

#img3 {
  margin-right: 10%;
}

.aside-2 {
  background: white;
  border: solid;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}
